<html layout:decorate="~{layout}">

<body layout:fragment="content">
	<div class="container">
		<form th:action="@{/admin/announcements/save}" method="post" th:object="${AnnouncementsFormDto}">
			<h2>공지사항</h2>
			<div>
				<label>제목 : </label> <input type="text" name="subject">
				<!-- 
				<p th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"class="fieldError">Incorrect data</p>
				<p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"class="fieldError">Incorrect data</p>
				 -->
			</div>
			<div>
				<label>내용 :</label>
				<textarea name="content" rows="20" cols="50"></textarea>
			</div>
			<button type="submit">완료</button>
		</form>
	</div>

</body>
</html>