<html layout:decorate="~{layout}">

<body layout:fragment="content">
	<div class="container">
	<table>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일</th>
		</tr>
		<tr th:each="announcements, index : ${announcements}">
			<!--
			<td th:text="${paging.getTotalElements -(paging.number*paging.size)-loop.index}">번호</td>
			-->
			<td th:text="${announcements.id}"></td>
			<td><a th:href="@{|detail/${announcements.id}|}"
				th:text="${announcements.subject}">제목
				</a>
			</td>
			<td th:text="${announcements.members.name}">작성자</td>
			<td th:text="${#temporals.format(announcements.createDate, 'yyyy-MM-dd')}">작성일</td>		
		</tr>
	</table>
		</div>
</body>
</html>