<html>
<head>
<title>회원가입</title>

<script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
    </script>

</head>

<body>
	<form th:action="@{/sign}" method="post" th:object="${memberFormDto}">
		<div>
			<label>이름 : </label> <input type="text" name="name" placeholder="(필수)이름을 입력해주세요"> 
			 <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
			 
		</div>
		<div>
			<label>이메일 : </label> <input type="text" name="email" placeholder="(필수)이메일를 입력해주세요">
			
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
			
		</div>
		<div>
			<label>페스워드 : </label> <input type="password" name="password" placeholder="(필수)패스워드를 입력해주세요">
			
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect data</p>
			
		</div>
		<div>
			<label>주소 : </label> <input type="text" name="address" placeholder="주소를 입력해주세요">
		</div>
		<button type="submit">회원가입</button>
	</form>
</body>
</html>
