<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body layout:fragment="content">
	<div class="container">
		<ul class="slider-container simple-list" id="slider">
			<li class="slide"><img src="img/cat3.png"></li>
			<li class="slide"><img src="img/cat2.png"></li>
			<li class="slide"><img src="img/cat1.png"></li>
		</ul>
		<a href="#" id=prev><i class="fa-solid fa-angle-left"></i></a> <a
			href="#" id=next><i class="fa-solid fa-angle-right"></i></a>
	</div>

	<div class="container">
		<table class="freeboard-table">
			<tr>
				<td>공지사항</td>
    		</tr>
			<tr th:each="announcements, loop : ${announcements}">
				<!--
			<td th:text="${paging.getTotalElements -(paging.number*paging.size)-loop.index}">번호</td>
			-->
			<td><a th:href="@{|detail/${announcements.id}|}"
					th:text="${announcements.subject}">제목
				</a>
			</td>
			<td th:text="${#temporals.format(announcements.createDate, 'yyyy-MM-dd')}">작성일</td>		
		</tr>
			
    	</table>
    </div>

	<script th:src="@{/js/slider.js}"></script>
</body>
</html>