
<!-- 최상단의 네비게이션 바(Nav Bar) -->
	<nav th:fragment="navbarFragment"
		class="navbar navbar-expand-lg navbar-light border-bottom" style="background:rgb(23,26,33);">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">game review</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent" >
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
					<a class="nav-link btn-example" sec:authorize="isAnonymous" href="#layer2">로그인</a>
					
					<div class="dim-layer">
    						<div class="dimBg"></div>
    					<div id="layer2" class="pop-layer">
        					<div class="pop-container">
            					<div class="pop-conts">
                					<!--content //-->
                					<table class="ctxt">
                					<tr>
                					<td class="id">아이디 : </td>
                					<td><input type="text"></td>
                					<td rowspan="2" class="btn-l">
                							<a href="#" class="btn-layerlogin">login</a>
                						</td>
                					</tr>
                					<tr>
                					<td class="pass">패스워드 : </td>
                					<td><input type="password"></td>
                					</tr>
                					</table>
               						<div class="btn-r">
                    					<a href="#" class="btn-layerClose">Close</a>
                					</div>
               						<!--// content-->
           					 	</div>
        					</div>
    					</div>
						</div>
						
					<a class="nav-link" sec:authorize="isAuthenticated" th:href="@{/user/logout}">로그아웃</a>
					</li>
					<li class="nav-item"><a class="nav-link" th:href="@{/user/signup}">회원가입</a></li>
				</ul>
			</div>
		</div>
	</nav>